version: '3.9'

services:
  be-project-monitoring:
    build:
      context: .
      dockerfile: Dockerfile
    environment:

      APP_GHTOKEN: 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
    restart: always
    ports:
      - "8080:8080"
    networks:
      - backend

networks:
  backend:
    driver: bridge